* {
    font-family: "Gothic A1", sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1728px;
    margin: 0 auto;    
}

.header {
    background: #EDEBEC;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 24px 120px 22px;
}

.header__logo {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.header__list {
    display: flex;
    gap: 64px;
}

.header__item {
    color:#252D39;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.header__item_fatty {
    color: #252D39;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title__h1 {
    color:#252D39;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.title__subtitle {
    color:#252D39;
    font-family: "Blogger Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.description {
    padding: 0 120px;
}

.description__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 580px;
    min-height: 519px;
}

.description__text {
    margin-top: 122.88px;
    color: #252D39;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.96px;
}

.description__text_fatty {
    color: #252D39;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 1.28px;
}

.description__text_fattySmall {
    color: #252D39;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.96px;
}

.description__logo {
    display: flex;
    gap: 81.79px;
}

.description__table {
    position: absolute;
    z-index: -1;
    margin-left: 734px;
}

.advertising__new {
    height: 96px;
    display: flex;
    align-items: center;
    margin: 123.88px 0 128px;
    padding: 0px 120px 0px;
    background: #FFE660;
}

.advertising__action {
    position: absolute;
    margin-top: 0; 
    margin-bottom: -0.1em;
    color: #FFF;
    font-size: 139px;
    font-style: normal;
    font-weight: 600;
    line-height: 1%;
    letter-spacing: 10.24px;
}

.advertising__promotion {
    z-index: 1;
    max-width: 900px;
    margin-left: 11em;
    color: #252D39;
    font-family: "Gothic A1", sans-serif;;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.catalog {
    padding: 0 120px;
}

.catalog__wrapper {
    display: flex;
    gap: 48px;
}

.catalog__title {
    margin-bottom: 56px;
    color: #252D39;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.catalog__name {
    color: #133922;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.catalog__inner {
    display: flex;
    align-self:  center;
    min-height: 48px;
    justify-content: center;
    margin: 93.44px 0 124px;
}

.catalog__open {
    margin-right: 16px;
    color: #5F700D;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.catalog__box {
    margin-top: 24px;
}

.advantages {
    padding: 0 120px;
}

.advantages__backgroundLabel {
    position: absolute;
    z-index: -1;
    margin: 331px 0 0 1069px;
    opacity: 0.15;
}

.advantages__wrapper {
    display: flex;
    gap: 48px;
}

.advantages__box {
    max-width: 464px;
}

.advantages__head {
    margin-bottom: 80px;
    color: #252D39;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.advantages__title {
    margin-bottom: 14px;
    color: #252D39;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.advantages__text {
    color: #252D39;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.96px;
}

.advantages__btn {
    margin: 80px 0 70px 564px;
    border: 0px solid #8BA21D;
    background: #8BA21D;
    cursor: pointer;
}

.advantages__btnText {
    display: block;
    min-height: 64px;
    min-width: 262px;
    margin: 8px 47px;
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%;
}

.workOrder {
    padding: 0 120px;
    margin-bottom: 180px;
}

.workOrder__header {
    margin: 80px 0 72px;
    color: #252D39;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.wardrobe__wrap {
    display: flex;
    flex-direction: column;
}

.workOrder__wrapper {
    display: flex;
    flex-direction: column;
    gap: 128px;
}

.wardrobe__num.left {
    width: 114px;
    height: 149px;
    margin-right: 12px;
}
.wardrobe__num.right {
    width: 114px;
    height: 149px;
    margin-left: 12px;
}
.wardrobe__box {
    display: flex;
align-items: center;
}
.wardrobe__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px; /* аист Отступ между рядами */
}
.wardrobe__inner {
    max-width: 464px;
    min-height: 186px;
}

.workOrder__title {
    margin: 0 0 16px 0;
    color: #252D39;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px; /* аист */
}

.wardrobe__text {
    color: #252D39;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.wardrobe__title_right {
    text-align: right;
}

.wardrobe__text_right {
    text-align: right;
}

.wardrobe__num_right {
margin: 0 0 0 36px;
}

.footer {
    background: #EDEBEC;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 64px 120px 77px;
}

.footer__label {
    cursor: pointer;
}

.footer__text {
    color: #252D39;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__text_record {
    margin: 40.29px 0 32px;
}

.footer__downloadText {
    margin: 74px 0 26px;
}

.footer__fatty {
    color: #252D39;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer__inner {
    display: flex;
    flex-wrap: nowrap;
    gap: 19.23px;
}

.footer__container {
    display: flex;
    border-radius: 14.425px;
    background: #AA967B;
    cursor: pointer;
}

.footer__apple {
    margin-left: 18.03px;
}

.footer__wrap_left {
    margin: 17px 50px 18px 14.34px;
}

.footer__google {
    margin: 18.3px 0 20.89px 17.47px;
}

.footer__wrap_right {
    margin: 14px 25px 18px 4.47px;
}

.footer__appStore {
    color: #FFF;
    font-family: "Gothic A1";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.footer__get {
    color: #FFF;
    font-family: "Gothic A1";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 175% */
}

.footer__googlePlay {
    white-space: nowrap;
    color: #FFF;
    font-family: "Gothic A1";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    
}

.footer__downloadApplication {
    color: #FFF;
    font-family: "Gothic A1";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.footer__catalog {
    margin-bottom: 24px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer__item {
    cursor: pointer;
}

.footer__social {
    display: flex;
    gap: 16px;
    margin: 30px 0 56px;
}

.footer__socialLogo {
    display: block;
    cursor: pointer;
}

.footer__phone {
    color: #252D39;
    font-family: "Gothic A1";
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.footer__comment {
    color: #252D39;
    font-family: "Gothic A1";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.footer__name{
    margin: 55px 0 16px;
}

.footer__confidentiality {
    text-decoration: underline;
    color: #252D39;
    font-family: "Gothic A1";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.footer__social_right {
    margin: 46px 0 148px;
}

.footer__center {
    margin-top: 39px;
}

.footer__right {
    margin-top: 39px;
}

a.catalog__open {
    text-decoration: none;
}

.video {
  position: relative;
  width: 100%;
}

.video__play {
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 5%; /* Отодвигает контент на 5% от нижнего края */
  right: 5%; /* Отодвигает контент на 5% от правого края */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.label,
.advantages__btn {
  margin-top: 10px; /* При необходимости, добавьте отступы между элементами */
}