.profile {
    margin-top: 64px;
}

.profile__head {
    color: #252D39;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.profile__photo {
    margin: 40px 0 68px;
}

.profile__list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.profile__item {
    color: #252D39;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    cursor: pointer;
}

.profile__item_active {
    font-weight: 600;
}

.profile__calendarTitle {
    margin: 48px 0;
    color: #252D39;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.main__inner {
    margin: 144px 376px 0 0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.form__label {
    display: flex;
    flex-direction: column;
}

.form__legend {
    margin-bottom: -4px;
    color: #707070;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%;
}

.form__input {
    width: 592px;
    max-height: 48px;
    box-sizing: border-box;
    padding: 0 16px 0 16px;
    align-items: center;
    border: 1px solid #AA967B;
    color: #252D39;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%;
}

.delivery__address {
    margin: 36px 0 40px;
    color: #252D39;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.order {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.order__box {
    width: 848px;
    height: 120px;
    border: 1px solid #F37F46;
}

.order__title {
    color: #252D39;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.28px;
}

.order__text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    max-width: 552px;
    overflow: hidden;
    color: #707070;
    text-overflow: ellipsis;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}