*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 1728px;
    margin: 0 auto;
    font-family: "Gothic A1", sans-serif;
    color: #252D39;
}

.header__wrap {
    max-width: 1263px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 104px;
}

.header__list {
    list-style: none;
    display: flex;
    gap:64px;
}

.header__link {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    text-decoration: none;
    color: #252D39;
}

.header__link:hover {
    font-weight: 700;
    text-align: center;
}

.advertising {
    background-image: url(images/advertising.jpg);
    background-size: cover;
    height: 504px;
    position: relative; 
}

.advertising__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 1s ease-in;
}

.advertising__container_one::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #5F4624;
    opacity: 76%;
}

.advertising__container_two::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #205B2D;
    opacity: 76%;
}

.advertising__title {
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    text-align: left;
    color: #EDEBEC;
    position: absolute;
    z-index: 1;
}

.advertising__title_one {
    margin-top: 90px;
    margin-left: 121px;
}

.advertising__container_two {
    padding-top: 161px;
    padding-left: 121px;
}

.advertising__paragraph {
    font-size: 30px;
    font-weight: 500;
    line-height: 37.5px;
    text-align: left;
    color: #EDEBEC;
    position: absolute;
    z-index: 1;
}

.advertising__paragraph_one {
    margin-top: 238px;
    margin-left: 121px;
}

.advertising__paragraph_two {
    padding-top: 98px;
}

.advertising__footnote {
    color: #EDEBEC;
    font-size: 30px;
    font-weight: 600;
    line-height: 37.5px;
    text-align: left;
    cursor: pointer;
    position: absolute;
    z-index: 1;
}

.advertising__footnote_one {
    margin-top: 406px;
    margin-left: 121px;
}

.advertising__footnote_two {
    margin-top: 245px;
}

.advertising_active {
    display: block;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1480px;
    height: 638px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 16px;
    opacity: 1;
    z-index: 100;
  }

.advertising_popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 100;
}

.advertising_popup {
    display: flex;
    flex-direction: column;
    padding: 24px 24px 112px 112px;
}

.advertising_popup_close {
    align-self: end;
    border: none;
    cursor: pointer;
}

.advertising_popup_title {
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    text-align: left;
    padding-top: 32px;
}

.advertising_popup_paragraph {
    font-size: 30px;
    font-weight: 500;
    line-height: 37.5px;
    text-align: left;
    padding-top: 40px;
}

.advertising_popup_span {
    font-size: 30px;
    font-weight: 700;
    line-height: 37.5px;
    text-align: left;
}

.advertising_popup_footnote {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    padding-top: 49px;
}

.section-title {
    font-size: 78px;
    line-height: 156px;
    font-weight: 900;
    line-height: 156px;
    text-align: left;
}

.btn {
    width: 336px;
    height: 80px;
    padding: 10px 68px 10px 68px;
    background-color: #8BA21D;
    color:#FFFFFF;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    border: none;
    cursor: pointer;
}

.kitchens {
    padding: 107px 0px 187px 120px;
    display: flex;
    gap: 80px;
}

.kitchens_title_wrapp {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 316px;
}

.kitchens_img_wrapp{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.children-room {
    padding: 58px 120px 54px 120px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.children-room__img-container {
    display: flex;
    gap: 48px;
}

.children-room__btn {
    align-self: center;
}

.racks {
    padding: 191px 120px 191px 0px;
    display: flex;
    gap: 80px;
}

.racks_img_wrapp {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.racks_title_wrapp {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 316px;
}

.wardrobes {
    padding: 58px 120px 96px 120px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.wardrobes__img-container {
    display: flex;
    gap: 48px;
}

.wardrobes__btn {
    align-self: center;
}

.dresser {
    padding: 192px 0px 190px 120px;
    display: flex;
    gap: 80px;
}

.dresser_title_wrapp {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 316px;
}

.dresser_img_wrapp {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.bathroom {
    padding: 58px 120px 116px 120px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.bathroom__img-container {
    display: flex;
    gap: 48px;
}

.bathroom__btn {
    align-self: center;
}

.footer {
    padding: 62px 120px 72px 120px;
    gap: 160px;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
}

.footer__link {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
    color: #252D39;
}

.footer__link:hover {
    font-weight: 700;
    text-align: center;
}

.footer__title {
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    color: #252D39;
}

.footer__info_wrap {
    display: flex;
    flex-direction: column;
}

.footer__info {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 74px;
}

.footer__app_icon {
    display: flex;
    gap: 20px;
    margin-top: 26px;
}

.footer__catalog {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 34px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    padding-top: 36px;
}

.footer__contacts_icon {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    margin-top: 30px;
}

.footer__contacts_company {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 65px;
}

.footer__contacts_company_span {
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    text-align: left;
}

.footer__contacts_company_underlining {
    text-decoration: underline;
}

.icon_img {
    cursor: pointer;
}

.hero {
    display: flex;
    gap: 138px;
    width: 1490px;
    margin: 0 auto;
    margin-top: 97px;
    margin-bottom: 90px;
}

.hero_wrapper {
    width: 632px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.hero_text {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.04em;
    text-align: left;  
}

.hero_text_span {
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: 0.04em;
    text-align: left;
}

.target {
    background-color:#F4EAD7;
    padding-top: 34px;
    padding-bottom: 51px;
}

.target_title {
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.04em;
    text-align: center;
}

.target_text_wrapp {
    width: 1252px;
    margin: 0 auto;
}

.target_text {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.04em;
    text-align: center;
}

.values {
    margin: 32px 120px 154px 122px;
    display: flex;
    flex-direction: column;
}

.values_container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 619px;
    margin-bottom: 103px;
}

.values_main_title {
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: 0.04em;
    text-align: left;
}

.values_main_text {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.04em;
    text-align: left;
}
.values_title {
    font-size: 32px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.04em;
    text-align: left;
}

.values_text {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.04em;
    text-align: left;

}

.simplicity_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 32px;
}

.difference_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;
    margin-bottom: 32px;
}

.text-right {
    text-align: end;
}

.team {
    padding: 62px 120px 143px 120px;
    display: flex;
    flex-direction: column;
    gap: 84px;
}

.team_members_wrap {
    display: flex;
    gap: 48px;
}

.team_member {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.team_member_name {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.04em;
    text-align: left;
}

.team_member_post {
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.04em;
    text-align: left;
}

.awareness_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 32px;
}

.care_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.model {
    height: 936px;
    display: flex;
    align-items: center;
    justify-content:center ;
    background: #D9D9D9;
    position: relative; /* Добавляем position: relative к контейнеру модели */
}

.model_text {
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
}

.promo {
    margin: 112px 120px 118px 120px;
}

.promo_text {
    font-size: 34px;
    font-weight: 400;
    line-height: 50px;
    text-align: left;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 98px 120px;
    background: #EDEBEC;
}

.options_list{
    padding: 0;
    margin-left:30px;
}

.options_text {
    font-size: 30px;
    font-weight: 400;
    line-height: 37.5px;
    text-align: left;
}

.options_text_span {
    font-size: 30px;
    font-weight: 700;
    line-height: 37.5px;
    text-align: left;  
}

.furniture_show {
    display: flex;
    justify-content: center;
    gap: 48px;
    margin: 104px 120px 111px 120px;
}

.rotate-icon {
    position: absolute;
    bottom: 10px; /* Отступ от низа */
    right: 10px; /* Отступ от правого края */
    width: 10%;
    height: 10%;
    z-index: 1000;
}
.calendar-container {
        width: 300px;
        margin-top: 20px;
    }

.flatpickr-calendar {
        background: #D1EDAC; /* Фон календаря */
        color: #000; /* Текст на календаре */
        border: 1px solid #CCC; /* Параметры границы */
    }
.flatpickr.day {
        background: #EF570B; /* Цвет ячейки */
        color: #e8f5e9; /* Цвет текста в ячейке */
    }
.flatpickr-day.today {
    border: 2px solid red;
    border-radius: 50%;
    background: #5A9602 /* Цвет выбранного дня */
}