*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    margin: 0 auto;
    font-family: Gothic A1;
}

.header__wrap {
    max-width: 1263px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 104px;
}

.header__list {
    list-style: none;
    display: flex;
    gap:64px;
}

.header__link {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #000000;
    text-decoration: none;
}

.header__link:hover {
    font-weight: 700;
    text-align: center;
}

.advertising {
    background-image: url(images/advertising.jpg);
    background-size: cover;
    height: 936px;
    padding-top: 104px;
    position: relative; 
}

.advertising__title {
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    text-align: left;
    color: #EDEBEC;
}

.advertising__paragraph {
    font-size: 30px;
    font-weight: 500;
    line-height: 37.5px;
    text-align: left;
    color: #EDEBEC;
    margin-top: 40px;
}

.advertising__footnote {
    color: #EDEBEC;
    font-family: Gothic A1;
    font-size: 30px;
    font-weight: 600;
    line-height: 37.5px;
    text-align: left;
    margin-top: 46px;
}

.advertising__container {
    max-width: 1506px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
    top: 520px;
    left: 121px;
}

.search-string {
    padding: 80px 120px;
    display: flex;

}

.search-string__input {
    height: 72px;
    width: 1488px;
    border: 1px solid #252D39;
    border-right: none;
}

.search-string__input::placeholder {
    font-size: 24px;
    font-weight: 400;
    line-height: 48px;
    color:#707070;
    padding-left: 24px;
}

.search-string_btn {
    cursor: pointer;
    border: 1px solid #252D39;
    border-left: none;
    padding-right: 40px;
}

.section-title {
    font-size: 78px;
    line-height: 156px;
    font-weight: 900;
    line-height: 156px;
    text-align: left;
}

.btn {
    width: 336px;
    height: 80px;
    padding: 10px 68px 10px 68px;
    background-color: #8BA21D;
    color:#FFFFFF;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    border: none;
    cursor: pointer;
}

.kitchens {
    padding: 191px 0px 191px 120px;
    display: flex;
    gap: 80px;
}

.kitchens_title_wrapp {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 316px;
}

.kitchens_img_wrapp{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.children-room {
    padding: 58px 120px 54px 120px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.children-room__img-container {
    display: flex;
    gap: 48px;
}

.children-room__btn {
    align-self: center;
}

.racks {
    padding: 191px 120px 191px 0px;
    display: flex;
    gap: 80px;
}

.racks_img_wrapp {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.racks_title_wrapp {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 316px;
}

.wardrobes {
    padding: 58px 120px 96px 120px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.wardrobes__img-container {
    display: flex;
    gap: 48px;
}

.wardrobes__btn {
    align-self: center;
}

.dresser {
    padding: 192px 0px 190px 120px;
    display: flex;
    gap: 80px;
}

.dresser_title_wrapp {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 316px;
}

.dresser_img_wrapp {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.bathroom {
    padding: 58px 120px 116px 120px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.bathroom__img-container {
    display: flex;
    gap: 48px;
}

.bathroom__btn {
    align-self: center;
}

.footer {
    padding: 62px 120px 72px 120px;
}

.footer__wrap {
    
    display: flex;
    gap: 250px;
}

.footer__link {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
    color: #252D39;
}

.footer__link:hover {
    font-weight: 700;
    text-align: center;
}

.footer__title {
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    color: #252D39;
}

.footer__info_wrap {
    display: flex;
    flex-direction: column;
}

.footer__info {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 74px;
}

.footer__app_icon {
    display: flex;
    gap: 20px;
    margin-top: 26px;
}

.footer__catalog {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
}

.footer__contacts_icon {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    margin-top: 30px;

}

.footer__contacts_company {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: #252D39;
    margin-top: 55px;
}

.footer__contacts_company_span {
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    text-align: left;
}

.hero {
    display: flex;
    gap: 138px;
    width: 1490px;
    margin: 0 auto;
    margin-top: 97px;
    margin-bottom: 90px;
}

.hero_wrapper {
    width: 632px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.hero_text {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.04em;
    text-align: left;  
    color: #252D39;
}

.hero_text_span {
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #252D39;
}

.target {
    background-color:#F4EAD7;
    width: 100vw;
    margin: 0 auto;
    padding-top: 34px;
    padding-bottom: 51px;

}

.target_title {
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #252D39;
}

.target_text_wrapp {
    width: 1252px;
    margin: 0 auto;
    color: #252D39;
}

.target_text {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #252D39;
}

.values {
    margin: 32px 120px 154px 122px;
    display: flex;
    flex-direction: column;
}

.values_container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 619px;
    margin-bottom: 103px;
}

.values_main_title {
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #252D39;
}

.values_main_text {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #252D39;
}
.values_title {
    font-size: 32px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #252D39;
}

.values_text {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #252D39;
}

.simplicity_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 32px;
}

.difference_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;
    margin-bottom: 32px;
}

.text-right {
    text-align: end;
}

.awareness_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 32px;
}

.care_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.model {
    width: 1728px;
    height: 936px;
    display: flex;
    align-items: center;
    justify-content:center ;
}

.model_text {
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
}

.promo {
    margin: 112px 120px 118px 120px;
}

.promo_text {
    color: #252D39;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    text-align: left;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 98px 120px;
}

.options_list{
    padding: 0;
    margin-left:30px;
}

.options_text {
    font-size: 30px;
    font-weight: 400;
    line-height: 37.5px;
    text-align: left;
    color: #252D39;
}

.options_text_span {
    font-size: 30px;
    font-weight: 700;
    line-height: 37.5px;
    text-align: left;  
    color: #252D39;  
}

.furniture_show {
    display: flex;
    justify-content: center;
    gap: 48px;
    margin: 104px 120px 111px 120px;
}