{% extends 'flatpages/default.html' %}

{% block title %}
ISTOK | О нас
{% endblock title %}

{% block content %}
<main>
    <section class="hero">
        <div class="hero_wrapper">
            <p class="hero_text">
                <span class="hero_text_span">Компания ISTOK</span>  — это стартап опытной команды профессионалов. Мы, работая в мебельной индустрии, ощутили разницу в отношении к клиентам и сотрудникам.
            </p>
            <p class="hero_text">
                Мы создали бренд, предоставляющий высококачественный сервис с использованием современных технологий как для взаимодействия с клиентами, так и для организации производства.
            </p>
            <p class="hero_text">
                Мы уделяем внимание защите окружающей среды и заботимся о благополучии людей. Кроме того, мы стремимся сделать процесс покупки максимально комфортным для наших клиентов.
            </p>
            <p class="hero_text">
                У нашей команды большой опыт работы в крупной международной мебельной компании, где мы усвоили, что бизнес делается через людей и для людей, важность качества оказания услуги и соблюдения гарантий, также в нашей команде есть специалисты, которые на своем опыте знают, что такое мебель, как ее качественно произвести, и прошли большой путь от профильного образования до опыта работы в крупных компаниях, от обычного рабочего до начальника производства
            </p>
            <p class="hero_text">
                Объединив свои знания и опыт, мы создали ISTOK — бренд, который понимает, что нужно людям и его сотрудникам.
            </p>
        </div>
        <img src="../static/images/hero.jpg" class="hero_img" alt="hero" width="720" height="1089">
    </section>
    <section class="target">
        <h2 class="target_title">НАША ЦЕЛЬ</h2>
        <div class="target_text_wrapp">
            <p class="target_text">Предоставлять высококачественные услуги по изготовлению мебели на заказ и изменить представление людей о комфорте и уюте в доме, проявляя заботу о клиентах и окружающей среде.</p>
        </div>
    </section>
    <section class="values">
        <div class="values_container">
            <h2 class="values_main_title">НАШИ ЦЕННОСТИ</h2>
            <p class="values_main_text">Ко всем проектам или делам мы подходим исключительно через призму наших ценностей</p>
        </div>
        <div class="simplicity_container">
            <h3 class="values_title">ПРОСТОТА</h3>
            <p class="values_text">Простота — это неотъемлемая часть нашей компании. Она <br>позволяет нам всегда оставаться верными себе и быть<br> реалистичными в любой ситуации. Мы выполняем нашу <br>повседневную работу, не усложняя её лишней бюрократией.</p>
        </div>
        <div class="difference_container">
            <h3 class="values_title">ОТЛИЧИЕ</h3>
            <p class="values_text text-right">Мы отличаемся от других компаний и не стремимся к<br> тому, чтобы быть похожими на них. Мы рискуем и решаем<br>проблемы нестандартными способами, проводим<br> эксперименты, не боимся ошибаться и несем за свои<br> действия ответственность.</p>
        </div>
        <div class="awareness_container">
            <h3 class="values_title">ОСОЗНАНИЕ ЗАТРАТ</h3>
            <p class="values_text">Мы стремимся к тому, чтобы все могли себе позволить стильный и <br>удобный дом, поэтому мы поощряем экономию со смыслом и <br>постоянно оптимизируем процессы внутри нашей компании.</p>
        </div>
        <div class="care_container">
            <h3 class="values_title text-right">ЗАБОТА О ЛЮДЯХ</h3>
            <p class="values_text text-right">Мы понимаем, что наша деятельность оказывает влияние на<br> окружающую среду, и стремимся активно участвовать в решении<br> экологических проблем. Мы хотим внести свой вклад в сохранение<br> нашей планеты и улучшение качества жизни людей.</p>
        </div>
    </section>
    <section class="team">
        <h2 class="values_main_title">НАША КОМАНДА</h2>
        <div class="team_members_wrap">
            <div class="team_member">
                <img src="../static/images/member_1.jpg" class="member_img" alt="member" width="336" height="504">
                <h6 class="team_member_name">Джарахова Аида</h6>
                <p class="team_member_post">Специалист <br>по обустройству дома</p>
            </div>
            <div class="team_member">
                <img src="../static/images/member_2.jpg" class="member_img" alt="member" width="336" height="504">
                <h6 class="team_member_name">Горшков Никита</h6>
                <p class="team_member_post">Дизайнер</p>
            </div>
            <div class="team_member">
                <img src="../static/images/member_3.jpg" class="member_img" alt="member" width="336" height="504">
                <h6 class="team_member_name">Мороз Дмитрий</h6>
                <p class="team_member_post">Технический директор</p>
            </div>
            <div class="team_member">
                <img src="../static/images/member_4.jpg" class="member_img" alt="member" width="336" height="504">
                <h6 class="team_member_name">Титов Дмитрий</h6>
                <p class="team_member_post">Директор</p>
            </div>
        </div>
    </section>
</main>
{% endblock content %}