{% extends 'flatpages/default.html' %}

{% block title %}
ISTOK
{% endblock title %}

{% block content %}
<main>
    <section class="advertising">
        <div class="advertising__container advertising__container_one advertising_active">
            <h1 class="advertising__title advertising__title_one">
                Поделитесь теплом домашнего уюта <br>с близкими - и пусть каждый день будет особенным!
            </h1>
            <h3 class="advertising__paragraph advertising__paragraph_one">
                Специальное предложение: Расскажите о нас своим близким, и если они запишутся на<br> проектирование мебели до 1 июля, они получат скидку 10%, а Вы бонус 10 000 тыс. рублей на Вашу<br> карту!
            </h3>
            <p class="advertising__footnote advertising__footnote_one" onclick="openPopup()">
                Подробнее
            </p>
        </div>
        <div class="advertising__container advertising__container_two">
            <h1 class="advertising__title advertising__title_two">
                Заказывайте все в одном месте!
            </h1>
            <h3 class="advertising__paragraph advertising__paragraph_two">
                Специальное предложение: При оформлении заказа от 50 000 рублей, скидка на покупку техники и<br>сантехники 10%
            </h3>
            <p class="advertising__footnote advertising__footnote_two" onclick="openPopup()">
                Подробнее
            </p>
        </div>
        <div class="advertising_popup-overlay">
            <div class="advertising_popup popup">
                <button class="advertising_popup_close" onclick="closePopup()">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M23.1431 0.857178L0.857422 23.1429" stroke="#252D39" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M0.857422 0.857178L23.1431 23.1429" stroke="#252D39" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
                <h1 class="advertising_popup_title">
                    Поделитесь теплом домашнего уюта<br>с близкими - и пусть каждый день будет особенным!
                </h1>
                <h3 class="advertising_popup_paragraph">
                    <span class="advertising_popup_span">Специальное предложение:</span> Расскажите о нас своим близким, и если они запишутся на<br>проектирование мебели до 1 июля, они получат скидку 10%, а Вы бонус 10 000 тыс.<br>рублей на Вашу карту!
                </h3>
                <p class="advertising_popup_footnote">
                    *Скидка 10% будет доступна сразу при заключение договора
                </p>
                <p class="advertising_popup_footnote">
                    **Вознаграждение 10 000 тыс. рублей выплачивается после установки мебели, наши специалисты свяжутся<br>для уточнения деталей и перевода.
                </p>
            </div>
        </div>
    </section>


    <section class="kitchens">
        <div class="kitchens_title_wrapp">
            <h2 class="section-title kitchens_title">КУХНИ</h2>
            <button type="button" class="btn kitchens__btn">Пример работ</button>
        </div>
        <img src="../static/images/kitchens_1.jpg" class="kitchens_img" alt="kitchens" width="512" height="584">
        <div class="kitchens_img_wrapp">
            <img src="../static/images/kitchens_2.jpg" class="kitchens_img" alt="kitchens" width="504" height="256">
            <img src="../static/images/kitchens_3.jpg" class="kitchens_img" alt="kitchens" width="504" height="248">
        </div>
    </section>


    <section class="children-room">
        <h2 class="section-title children-room_title">МЕБЕЛЬ В ДЕТСКУЮ</h2>
        <div class="children-room__img-container">
            <img src="../static/images/children_1.jpg" class="children_img" alt="children-room" width="337" height="448">
            <img src="../static/images/children_2.jpg" class="children_img" alt="children-room" width="337" height="448">
            <img src="../static/images/children_3.jpg" class="children_img" alt="children-room" width="337" height="448">
            <img src="../static/images/children_4.jpg" class="children_img" alt="children-room" width="337" height="448">
        </div>
        <button type="button" class="btn children-room__btn">Пример работ</button>
    </section>


    <section class="racks">
        <div class="racks_img_wrapp">
            <img src="../static/images/racks_2.jpg" class="racks_img" alt="racks" width="504" height="249">
            <img src="../static/images/racks_3.jpg" class="racks_img" alt="racks" width="504" height="255">
        </div>
        <img src="../static/images/racks_1.jpg" class="racks_img" alt="racks" width="512" height="584">
        <div class="racks_title_wrapp">
            <h2 class="section-title racks_title">СТЕЛАЖИ</h2>
            <button type="button" class="btn racks__btn">Пример работ</button>
        </div>
    </section>


    <section class="wardrobes">
        <h2 class="section-title wardrobes_title">ГАРДЕРОБЫ</h2>
        <div class="wardrobes__img-container">
            <img src="../static/images/wardrobes_1.jpg" class="wardrobes_img" alt="wardrobes" width="336" height="451">
            <img src="../static/images/wardrobes_2.jpg" class="wardrobes_img" alt="wardrobes" width="336" height="451">
            <img src="../static/images/wardrobes_3.jpg" class="wardrobes_img" alt="wardrobes" width="336" height="451">
            <img src="../static/images/wardrobes_4.jpg" class="wardrobes_img" alt="wardrobes" width="336" height="451">
        </div>
        <button type="button" class="btn wardrobes__btn">Пример работ</button>
    </section>


    <section class="dresser">
        <div class="dresser_title_wrapp">
            <h2 class="section-title dresser_title">КОМОДЫ</h2>
            <button type="button" class="btn dresser__btn">Пример работ</button>
        </div>
        <img src="../static/images/dresser_1.jpg" class="dresser_img" alt="dresser" width="512" height="584">
        <div class="dresser_img_wrapp">
            <img src="../static/images/dresser_2.jpg" class="dresser_img" alt="dresser" width="504" height="256">
            <img src="../static/images/dresser_3.jpg" class="dresser_img" alt="dresser" width="504" height="248">
        </div>
    </section>


    <section class="bathroom">
        <h2 class="section-title bathroom_title">ВАННАЯ КОМНАТА</h2>
        <div class="bathroom__img-container">
            <img src="../static/images/bathroom_1.jpg" class="bathroom_img" alt="bathroom" width="337" height="448">
            <img src="../static/images/bathroom_2.jpg" class="bathroom_img" alt="bathroom" width="337" height="448">
            <img src="../static/images/bathroom_3.jpg" class="bathroom_img" alt="bathroom" width="337" height="448">
            <img src="../static/images/bathroom_4.jpg" class="bathroom_img" alt="bathroom" width="337" height="448">
        </div>
        <button type="button" class="btn bathroom__btn">Пример работ</button>
    </section>

</main>
{% endblock content %}