{% extends 'flatpages/default.html' %}

{% block title %}
ISTOK
{% endblock title %}

{% block content %}
    <main class="main wrapper">
        <article class="video">  
    <video class="video__play" autoplay muted loop style="width: 100%">
        <source src="/static/video/videoMain.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="overlay">
        <img src="static/Image/svg/NaVideo.svg" alt="Надпись" class="label">
        <img src="static/Image/svg/ButtonVideo.svg" alt="Кнопка" class="advantages__btn">
    </div>
</article>
        <article class="description">
            <section class="description__wrapper">
                <p class="description__text"><span class="description__text description__text_fatty">Компания ISTOK</span> — это стартап опытной команды профессионалов. Мы создали бренд, предоставляющий высококачественный сервис с использованием современных технологий как для взаимодействия с клиентами, так и для организации производства.</p>
                <p class="description__text">Мы уделяем внимание защите окружающей среды и заботимся о благополучии людей. Кроме того, мы стремимся сделать процесс покупки максимально комфортным для наших клиентов, поэтому выбираем <span class="description__text description__text_fattySmall">качественных и проверенных партнеров</span>:</p>
                <img class="description__table" src="../static/Image/png/table.png">
            </section>
            <section class="description__logo">
                <img src="../static/Image/svg/egger.svg">
                <img src="../static/Image/svg/agt.svg">
                <img src="../static/Image/svg/blum.svg">
                <img src="../static/Image/svg/hettich.svg">
            </section>
        </article>
        <section class="advertising__new">
            <p class="advertising__action">АКЦИЯ!</p>
            <p class="advertising__promotion">Будь в числе первых и оформи заказ со скидкой -10%</p>
            <img class="advertising__arrowRight" src="../static/Image/svg/arrowRight.svg">
        </section>
        <article class="catalog">
            <p class="catalog__title">Каталог</p>
            <section class="catalog__wrapper">
                <section class="catalog__version">
                    <img src="../static/Image/png/dresser.png">
                    <div class="catalog__box">
                        <p class="catalog__name">Комоды</p>
                    </div>
                </section>
                <section class="catalog__version">
                    <img src="../static/Image/png/kitchen.png">
                    <div class="catalog__box">
                        <p class="catalog__name">Кухни</p>
                    </div>
                </section>
                <section class="catalog__version">
                    <img src="../static/Image/png/wardrobe.png">
                    <div class="catalog__box">
                        <p class="catalog__name">Гардеробные</p>
                    </div>
                </section>
            </section>
            <div class="catalog__inner">
                <p class="catalog__open" data-url="{% url 'index' %}">Открыть весь каталог</p>
                <img class="catalog__arrowRightGreen" src="/static/Image/svg/arrowRightGreen.svg" style="padding-bottom: 0.5em;">
            </div>
        </article>
        <div class="advantages">
            <img class="advantages__backgroundLabel" src="/static/Image/png/backgroundLabel.png">
            <h2 class="advantages__head">Почему выбирают нас?</h2>
            <div class="advantages__wrapper">
                <div class="advantages__box">
                    <h3 class="advantages__title">Высокое качество</h3>
                    <p class="advantages__text">Мы производим мебель на промышленном оборудовании, поэтому гарантируем высокое качество изделий по разумной цене.</p>
                </div>
                <div class="advantages__box">
                    <h3 class="advantages__title">10 лет гарантии</h3>
                    <p class="advantages__text">Мы уверены в качестве нашей мебели и предлагаем Вам 10 лет гарантии на все изделия.  Это означает, что Вы сможете наслаждаться комфортом и функциональностью нашей мебели долгие годы, зная, что мы всегда готовы помочь.</p>
                </div>
                <div class="advantages__box">
                    <h3 class="advantages__title">Мы всегда рядом</h3>
                    <p class="advantages__text">Наши специалисты готовы прийти Вам на помощь в любое время суток. Мы всегда на связи.</p>
                </div>
            </div>
            <button class="advantages__btn" style="margin-top: 40px;"><span class="advantages__btnText">Связаться с нами</span></button> <!-- Аист -->
        </div>
        <img src="/static/Image/png/kitchen1.png">
        <div class="workOrder">
            <h3 class="workOrder__header">Как мы работаем?</h3>
            <div class="wardrobe__wrap">
    <div class="wardrobe__row">
        <div class="wardrobe__box wardrobe__box--left">
            <div>
                <img class="wardrobe__num left" src="/static/Image/svg/1.svg">
            </div>
            <div class="wardrobe__inner">
                <h4 class="workOrder__title">Онлайн консультация</h4>
                <p class="wardrobe__text">Наш специалист свяжется с Вами и поможет сделать выбор, расскажет о нас и материалах, запишет на встречу с дизайнером.</p>
            </div>
        </div>
        <div class="wardrobe__box wardrobe__box--right">

            <div class="wardrobe__inner">
                <h4 class="workOrder__title wardrobe__title_right">Встреча с дизайнером</h4>
                <p class="wardrobe__text wardrobe__text_right">Наш дизайнер привезет с собой материалы, покажет Вам отличие одного от другого, спроектирует стильный и эргономичный проект, а также оформит ваш заказ.</p>
            </div>
            <div>
                <img class="wardrobe__num right" src="../static/Image/svg/2.svg">
            </div>
        </div>
    </div>

    <div class="wardrobe__row">
        <div class="wardrobe__box wardrobe__box--left">
            <div>
                <img class="wardrobe__num left" src="/static/Image/svg/3.svg">
            </div>
            <div class="wardrobe__inner">
                <h4 class="workOrder__title">Технический замер</h4>
                <p class="wardrobe__text ">Наши специалисты приедут со специализированным оборудованием, замерят каждую деталь Вашего помещения.</p>
            </div>
        </div>
        <div class="wardrobe__box wardrobe__box--right">

            <div class="wardrobe__inner">
                <h4 class="workOrder__title wardrobe__title_right">Конструирование</h4>
                <p class="wardrobe__text wardrobe__text_right">Наши конструктора создадут Вашу мебель с нуля. Каждый модуль уникален!</p>
            </div>
            <div>
                <img class="wardrobe__num right" src="../static/Image/svg/4.svg">
            </div>
        </div>
    </div>

    <div class="wardrobe__row">
        <div class="wardrobe__box wardrobe__box--left">
            <div>
                <img class="wardrobe__num left" src="/static/Image/svg/5.svg">
            </div>
            <div class="wardrobe__inner">
                <h4 class="workOrder__title">Производство</h4>
                <p class="wardrobe__text">Современное производство с промышленным оборудованием создаст для Вас мебель, соответствующую самым высоким стандартам качества.</p>
            </div>
        </div>
        <div class="wardrobe__box wardrobe__box--right">

            <div class="wardrobe__inner">
                <h4 class="workOrder__title wardrobe__title_right">Доставка и монтаж</h4>
                <p class="wardrobe__text wardrobe__text_right">Наш специалист свяжется с Вами для согласования даты доставки и монтажа, либо Вы сможете сделать это самостоятельно через мобильное приложение.</p>
            </div>
            <div>
                <img class="wardrobe__num right" src="../static/Image/svg/6.svg">
            </div>
        </div>
    </div>

    <div class="wardrobe__row">
        <div class="wardrobe__box wardrobe__box--left">
            <div>
                <img class="wardrobe__num left" src="/static/Image/svg/7.svg">
            </div>
            <div class="wardrobe__inner">
                <h4 class="workOrder__title">Обратная связь</h4>
                <p class="wardrobe__text">Специалист контроля качества позвонит Вам после сборки и узнает, все ли Вам понравилось!</p>
            </div>
        </div>
        <div class="wardrobe__box wardrobe__box--right">

            <div class="wardrobe__inner">
                <h4 class="workOrder__title wardrobe__title_right">Поддержка</h4>
                <p class="wardrobe__text wardrobe__text_right">Наши специалисты готовы ответить на все Ваши вопросы и помочь решить любые проблемы. Мы всегда на связи и будем рады Вам помочь!</p>
            </div>
            <div>
                <img class="wardrobe__num right" src="../static/Image/svg/8.svg">
            </div>
        </div>
    </div>
</div>
        </div>
    </main>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var catalogOpen = document.querySelector('.catalog__open');

    catalogOpen.addEventListener('click', function() {
      var url = this.getAttribute('data-url');
      window.location.href = url;
    });
  });
  // Получаем все кнопки с классом "advantages__btn"
var advantagesBtns = document.querySelectorAll('.advantages__btn');

// Добавляем обработчик события ко всем кнопкам
advantagesBtns.forEach(function(btn) {
    btn.onclick = function() {
        loginModal.style.display = "block";
        modal1.style.display = "none";
        modal2.style.display = "block";
    };
});
</script>
{% endblock content %}