{% extends 'flatpages/default.html' %}

{% block title %}
ISTOK
{% endblock title %}

{% block content %}
        <main class="profile">
            <div class="wrapper">
            <article class="profile">
                    <h1 class="profile__head">ПРОФИЛЬ</h1>
                    <img class="profile__photo" src="/static/Profile/png/photo.png">
                    <nav>
                        <ul class="profile__list">
                            <li class="profile__item link_active" onclick="drawMainInfo()">Основная Информация</li>
                            <li class="profile__item" onclick="drawOrder()">Заказы</li>
                            <li class="profile__item" onclick="drawBonuses()">Бонусы</li>
                            <li class="profile__item">Реферальная программа</li>
                            <li class="profile__item">Связаться с нами</li>
                        </ul>
                    </nav>
                    <h3 class="profile__calendarTitle">Календарь встреч</h3>
            </article>
            <article class="main__inner">
            </article>
        </div>
        </main>

<script>
    const infoBlock = document.querySelector('.main__inner');
const linkCategory = document.querySelectorAll('.profile__item');

//снимаем .link_active с категории
function clearActiveCategory() {
    document.querySelector('.profile__item.link_active').classList.remove('link_active');
}

//меняем активную категорию
function toggleLinkCategory()  {
    linkCategory.forEach((item) => {
        item.addEventListener('click', (event) => {
            let categoryObj = event.target.closest('.profile__item');
            clearActiveCategory();
            categoryObj.classList.add('link_active');

            if(item.classList.contains('link_active')) {
                categoryObj = item.innerText;
            }
        });
    });
}

function drawMainInfo() {
    infoBlock.innerHTML = '';
    let mainInfo = `<div class="info_container">
                    <form class="form" id="user-form" action="" method="post">
                    {% csrf_token %}
                    <label class="form__label">
                        <legend class="form__legend">Фамилия</legend>
                        <input class="form__input" type="text" name="second_name" value="{{ user.second_name }}">
                    </label>
                    <label class="form__label">
                        <legend class="form__legend">Имя</legend>
                        <input class="form__input" type="text" name="first_name" value="{{ user.first_name }}">
                    </label>
                    <label class="form__label">
                        <legend class="form__legend">Отчество</legend>
                        <input class="form__input" type="text" name="third_name" value="{{ user.third_name }}">
                    </label>
                    <label class="form__label">
                        <legend class="form__legend">Номер телефона</legend>
                        <input class="form__input" type="text" name="phone_number" value="{{ user.phone_number }}">
                    </label>
                    <label class="form__label">
                        <legend class="form__legend">Почта</legend>
                        <input class="form__input" type="text" name="email" value="{{ user.email }}">
                    </label>
                    <input class="change__btn" type="button" id="submit-btn" value="Изменить данные">
                    <section class="delivery">
                        <h3 class="delivery__address">Адреса доставки</h3>
                    </section>
                </form>
                </div>`;
infoBlock.innerHTML += mainInfo;
}

function drawOrder() {
    infoBlock.innerHTML = '';
let order = `<section class="order">
                    <div class="order__box order__box_confirmation">
                        <div class="order__box_text">
                            <h3 class="order__title">Заказ №598652086</h3>
                            <p class="order__text">Кухонный шкаф 30x40, кухонная плита, духовой шкаф, кухонный шкаф...</p>
                        </div>
                        <img src="/static/Profile/svg/confirmation.svg" class="confirmation" alt="confirmation" width="56" height="56">
                    </div>
                    <div class="order__box order__box_assembly">
                        <div class="order__box_text">
                            <h3 class="order__title">Заказ №598652086</h3>
                            <p class="order__text">Кухонный шкаф 30x40, кухонная плита, духовой шкаф, кухонный шкаф...</p>
                        </div>
                        <img src="/static/Profile/svg/assembly.svg" class="assembly" alt="assembly" width="56" height="56">
                    </div>
                    <div class="order__box order__box_sending">
                        <div class="order__box_text">
                            <h3 class="order__title">Заказ №598652086</h3>
                            <p class="order__text">Кухонный шкаф 30x40, кухонная плита, духовой шкаф, кухонный шкаф...</p>
                        </div>
                        <img src="/static/Profile/svg/sending.svg" class="sending" alt="sending" width="56" height="56">
                    </div>
                    <div class="order__box order__box_received">
                        <div class="order__box_text">
                            <h3 class="order__title">Заказ №598652086</h3>
                            <p class="order__text">Кухонный шкаф 30x40, кухонная плита, духовой шкаф, кухонный шкаф...</p>
                        </div>
                        <img src="/static/Profile/svg/received.svg" class="received" alt="received" width="56" height="56">
                    </div>
                </section>`;
infoBlock.innerHTML += order;
}

function drawBonuses() {
    infoBlock.innerHTML = '';
let order = `<section class="bonuses">
                    <p class="bonuses_amount">10141 Б</p>
                    <h4 class="bonuses_history">История бонусов</h4>
                    <div class="bonuses_wrap">
                        <div class="bonuses_wrap_text">
                            <h6 class="bonuses_title">Реферальная программа</h6>
                            <p class="bonuses_data">28.07.2024</p>
                        </div>
                        <p class="bonuses_number bonuses_number_plus">+10000</p>
                    </div>
                    <div class="bonuses_wrap">
                        <div class="bonuses_wrap_text">
                            <h6 class="bonuses_title">Заказ</h6>
                            <p class="bonuses_data">26.07.2024</p>
                        </div>
                        <p class="bonuses_number bonuses_number_plus">+141</p>
                    </div>
                    <div class="bonuses_wrap">
                        <div class="bonuses_wrap_text">
                            <h6 class="bonuses_title">Заказ</h6>
                            <p class="bonuses_data">26.07.2024</p>
                        </div>
                        <p class="bonuses_number bonuses_number_minus">-10000</p>
                    </div>
                    <div class="bonuses_wrap">
                        <div class="bonuses_wrap_text">
                            <h6 class="bonuses_title">Реферальная программа</h6>
                            <p class="bonuses_data">28.07.2024</p>
                        </div>
                        <p class="bonuses_number bonuses_number_plus">+10000</p>
                    </div>
                </section>`;
infoBlock.innerHTML += order;
}

document.addEventListener("DOMContentLoaded", function() {
    drawMainInfo();
    toggleLinkCategory();
});
document.addEventListener('DOMContentLoaded', function() {
    const submitBtn = document.getElementById('submit-btn');
    const userForm = document.getElementById('user-form');

    submitBtn.addEventListener('click', function() {
        const formData = new FormData(userForm);
        fetch('{% url "profile" %}', {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': formData.get('csrfmiddlewaretoken')

            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                console.log('Данные успешно обновлены!');
            } else {
                console.log('Произошла ошибка при обновлении данных.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
});
const sectionSelection = Array.from(document.getElementsByClassName('profile__item'))
let currentIndex = 0

function updateSlider() {
    sectionSelection.forEach((element, index) => {
        element.classList.remove('profile__item_active')
    });
    sectionSelection[currentIndex].classList.add('profile__item_active')
}

for (let i = 0; i < sectionSelection.length; i++) {
    sectionSelection[i].addEventListener('click', () => {
        currentIndex = i
        updateSlider()
    })
}

updateSlider()
</script>
{% endblock content %}