{% extends 'flatpages/default.html' %}

{% block title %}
{{ product.name }}
{% endblock title %}


{% block content %}
<main>
    <section class="model">
        <p class="model_text">3d модель</p>
    </section>
    <section class="promo">
        <p class="promo_text">{{ product.description }}</p>
    </section>
    <section class="options">
        <p class="options_text"><span class="options_text_span">Стоимость данного проекта: </span>от {{ product.price }} руб.</p><br><br>
        <p class="options_text"><span class="options_text_span">Срок изготовления: </span>45 дней</p><br><br>
        <p class="options_text"><span class="options_text_span">Размеры ШхВхГ (на примере): </span>2390х3000х600 размер кухни может быть адаптирован под Ваше помещение по всем параметрами.</p><br><br>
        <span class="options_text_span">Материалы:</span>
        <ol class="options_list options_text"><br>
            <li class="option_item"> Корпус Egger </li>
            <li class="option_item"> Фасады (двери) Эмаль матовая </li>
            <li class="option_item"> Петли с доводчиком Hettich </li>
            <li class="option_item"> Врезные нажимные механизмы (верхние модули) </li>
            <li class="option_item"> Интегрированные ручки </li>
            <li class="option_item"> Столешница Slotex </li>
            <li class="option_item"> Стеновая панель Slotex </li>
        </ol><br><br>
        <span class="options_text_span">Наполнение:</span>
        <ol class="options_list options_text"><br>
            <li class="option_item"> 2 Ящика типа тандем бокс полного выдвижения с доводчиком Hettich </li>
            <li class="option_item"> Посудосушитель </li>
            <li class="option_item"> Системы для сортировки мусора </li>
        </ol>
    </section>
    <section class="furniture_show">
        <img src="/static/images/furniture_1.png" class="furniture_img" alt="furniture" width="464" height="536">
        <img src="/static/images/furniture_2.png" class="furniture_img" alt="furniture" width="464" height="536">
        <img src="/static/images/furniture_3.png" class="furniture_img" alt="furniture" width="464" height="536">
    </section>
</main>
{% endblock content %}